.img_logoM {
  margin-top: 5%;
  top: 40%;
  transform: translate(50%, 0%);
  width: 100vh;
}
#pc {
  position: relative;
  width: 500px;
  height: 500px;
  transform: translate(85%, -60%);
  text-align: center;
  
}

model-viewer {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 15%;
  
}

#textoarea {
  position: absolute;
  color: #fff;
  width: 100%;
  margin-top: 105%;
  text-align: center;
  font-size: 40px;
font-family: Montserrat;
font-weight: bold;
  
}
